@{
    ViewBag.Title = "UserManual";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width initial-scale=1.0"/>
  	<title>Dr Joshi User Manual</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<link rel="stylesheet" href="/Content/Public/UserManual/css/custom1.css">
</head>
<body>
    <div class="outer-container bk-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="logo">
					<img src="/Content/Public/UserManual/images/Logo.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="outer-container">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="heading">
					<h1>User Manual</h1>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="m-content">
				<h3>Topics</h3>
							<ol>
								<li><a href="#c1">Login</a></li>
								<li><a href="#c2">DashBoard</a>
									<ol>
										<li><a href="#c2-1">View Details</a></li>
									</ol>
								</li>
								<li><a href="#c3">Enquiry</a>
								<ol>
									<li><a href="#c3-1">View Details</a></li>
								</ol>
								</li>
							<li><a href="#c4">Testimonials</a>
								<ol>
									<li><a href="#c4-1">List of Testimonials</a></li>
									<li><a href="#c4-2">Create new Testimonials</a></li>
									<li><a href="#c4-3">Edit/Update Testimonials</a></li>
								</ol>
							</li>
							<li><a href="#c5">Webpage</a>
								<ol>
									<li><a href="#c5-1">List of Webpage</a></li>
									<li><a href="#c5-2">Create new Webpage</a></li>
									<li><a href="#c5-3">Edit/Update Webpage</a></li>
								</ol>
							</li>
							<li><a href="#c6">Logout</a></li>
							</ol>
							
							<h3><a name="c1">1. Login</a></h3>
							<p>Login URL:<a href="http://joshiuroandrology.com/admin/adminaccount/logon " target="_blank">http://joshiuroandrology.com/admin/adminaccount/logon </a></p>
							<img src="/Content/Public/UserManual/images/1.jpg" class="img-responsive">
							<p>User Name: <strong>admin@joshiuroandrology.com</strong><br/>
							Password: <strong> letmein</strong><br/>
							Once you enter the above User Name and Password click Login button.
							</p>
							<img src="/Content/Public/UserManual/images/2.jpg" class="img-responsive">
							
							<h3><a name="c2">2. DashBoard</a></h3>
							<p>After Login, the Admin home page will be displayed as shown below.</p>
							<img src="/Content/Public/UserManual/images/3.jpg" class="img-responsive">
							<h4><a name="c2-1">2.1 View Details</a></h4>
							<p>Click here to view details of Webpage.</p>
							<img src="/Content/Public/UserManual/images/4.jpg" class="img-responsive">
							<p>Once click Webpage below window will opened.</p>
							<img src="/Content/Public/UserManual/images/5.jpg" class="img-responsive">
							<p>Click here to view the No.of Enquires.</p>
							<img src="/Content/Public/UserManual/images/6.jpg" class="img-responsive">
							<p>Once click Enquiries below window will opened.</p>
							<img src="/Content/Public/UserManual/images/7.jpg" class="img-responsive">
							<p>Click here to view the Testimonials.</p>
							<img src="/Content/Public/UserManual/images/8.jpg" class="img-responsive">
							<p>Once you click Testimonials, list of testimonials will be displayed as shown below.</p>
							<img src="/Content/Public/UserManual/images/9.jpg" class="img-responsive">
							
							<h3><a name="c3">3. Enquiry</a></h3>
							<p>Here we can view the list of enquires.</p>
							<img src="/Content/Public/UserManual/images/10.jpg" class="img-responsive">
							<p>Click here to View number of Enquires.</p>
							<h4><a name="c3-1">3.1 View Details</a></h4>
							<p>Here we can view details of particular enquiry.</p>
							<img src="/Content/Public/UserManual/images/11.jpg" class="img-responsive">
							<p>Click here to View the details.</p>
							<img src="/Content/Public/UserManual/images/12.jpg" class="img-responsive">
							
							<h3><a name="c4">4. Testimonials</a></h3>
							<p>Here we can view the list of Testimonials.</p>
							<img src="/Content/Public/UserManual/images/13.jpg" class="img-responsive">
							<p>Click here for Testimonials.</p>
							<h4><a name="c4-1">4.1 List of Testimonials</a></h4>
							<p>Here we can get list of all Testimonials.</p>
							<img src="/Content/Public/UserManual/images/ListofTesti.jpg" class="img-responsive">
							
							<h4><a name="c4-2">4.2 Create new Testimonials</a></h4>
							<p>Here we can create new testimonials.</p>
							<img src="/Content/Public/UserManual/images/14.jpg" class="img-responsive">
							<p>Click here to new Testimonials.</p>
							<dl>
								<dt>Name : </dt>
									<dd>-Enter name.</dd>
							<dt>Purpose :</dt>
									<dd>-Purpose of visiting clinic</dd>
							<dt>Description : </dt>
									<dd>-Feedback or message</dd>
							<dt>Published : </dt>
									<dd>-Check this check box, if you want to “Publish” the page. If you want to un-publish the page uncheck the check box.</dd>
							</dl>
							<img src="/Content/Public/UserManual/images/15.jpg" class="img-responsive">
							<p>Once the field is filled Click Create button.</p>
							
							<h4><a name="c4-3">4.3 Edit/Update Testimonials</a></h4>
							<p>Here we can edit the Testimonials.</p>
							<img src="/Content/Public/UserManual/images/16.jpg" class="img-responsive">
							<p>Click here to edit the particular Testimonials.</p>
							<img src="/Content/Public/UserManual/images/17.jpg" class="img-responsive">
							<p>Click Save Changes button to update the changes.</p>
							
							<h3><a name="c5">5. Webpage</a></h3>
							<p>Here we can create webpages.</p>
							<img src="/Content/Public/UserManual/images/18.jpg" class="img-responsive">
							
							<h4><a name="c5-1">5.1 List of Webpage</a></h4>
							<p>Here we can get the list of webpage created so far.</p>
							<img src="/Content/Public/UserManual/images/Listofwebpage.jpg" class="img-responsive">
							
							<h4><a name="c5-2">5.2 Create new Webpage</a></h4>
							<p>Here admin can create new Webpage.</p>
							<img src="/Content/Public/UserManual/images/19.jpg" class="img-responsive">
							<p><strong>Webpage Option</strong></p>
							<dl>
								<dt>Parent Webpage (mandatory field)</dt>
								<dd>-This field will be a dropdown and you have to select under which parent page (primary/main menu) you are creating page. If the page that you are creating itself is a parent page (primary/main menu), then select ‘Home’ option.</dd>
								<dt>Heading (mandatory field)</dt>
								<dd>-Title pf the page</dd>
								<dt>	Sub Heading (optional)</dt>
								<dd>-Sub Heading of the page</dd>
								<dt>Content (mandatory field)</dt>
								<dd>-This is the space where you have to write the content of the page.</dd>
							</dl>
							<img src="/Content/Public/UserManual/images/20.jpg" class="img-responsive">
							<p><strong>SEO Option</strong></p>
							<dl>
								<dt>SEO options</dt>
								<dd>--These Meta Title, Meta Description and Meta Keywords fields will be the keywords and phrases which when searched in search engine should index this website. If all the fields are valid, the new page will get created.</dd>
							</dl>
							<img src="/Content/Public/UserManual/images/21.jpg" class="img-responsive">
							<p><strong>Other Option</strong></p>
							<dl>
								<dt>Properties (optional)</dt>
								<dd>-Select the “Published” Option from the dropdown.</dd>
								<dt>Tags (mandatory field)</dt>
								<dd>If the page you are creating has to appear in Menus type “Menu” or just type ‘Page’. If it is “Primary Menu” we should type “Menu” and if it is a Secondary just type “Page”.</dd>
								<dt>Priority (mandatory field)</dt>
								<dd>-On which order/position the webpage should display while listing in Site. </dd>
								<dt>Published</dt>
								<dd>-Check this check box, if you want to “Publish” the page. If you want to un-publish the page uncheck the check box.</dd>
							</dl>
							<img src="/Content/Public/UserManual/images/22.jpg" class="img-responsive">
							<p>Then click Create button to add new Webpage.</p>
							<h4><a name="c5-3">5.3 Edit/Update Webpage</a></h4>
							<p>Here we can Edit and Update the particular Webpage.</p>
							<img src="/Content/Public/UserManual/images/23.jpg" class="img-responsive">
							<p>Click here to edit the Webpage.</p>
							<p><strong>Webpage Option</strong></p>
							<img src="/Content/Public/UserManual/images/24.jpg" class="img-responsive">
							<p>SEO Option</p>
							<img src="/Content/Public/UserManual/images/25.jpg" class="img-responsive">
							<p><strong>Other Option</strong></p>
							<img src="/Content/Public/UserManual/images/26.jpg" class="img-responsive">
							<p>Edit the necessary field and Click Save Changes button.</p>
							
							<h3><a name="c6">6. Logout</a></h3>
							<p>Here we can logout from the Admin panel.</p>
							<img src="/Content/Public/UserManual/images/27.jpg" class="img-responsive">
							<p>Click here for Logout</p>
</body>
</html>
