@model Vidyanjali.Areas.Admin.Models.Topic.Blog
@using Vidyanjali.Models
@{
    CoreContext db = new CoreContext();
    var blogs = db.Blogs.Where(t => t.IsPublished).OrderBy(b => b.Priority).ToList();
}
@for (int i = 0; i < blogs.Count(); i += 2)
{
    var twoItems = blogs.Skip(i).Take(2);
    <div class="row">
        @foreach (var item in twoItems)
        {
        var file = new Vidyanjali.Areas.FileManagement.Models.FileRepository().GetImages("BlogImage", "Blog", item.Id).FirstOrDefault();
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="blogs-img">
                <a href=@Url.Action(item.Url,"Vidyanjaliblog") target="_blank">
                    <img src="@file.Url" alt="@file.Description" class="img-fluid" data-aos='fade-up'>
                    <div class="overlay">
                        <span>Click to see more...</span>
                    </div>
                    <h2 data-aos='fade-up'>@item.Heading</h2>
                    @Html.Raw(item.ShortDescription)
                </a>
            </div>
        </div>
        }
        </div>
        }
