<div class="outer-container">
    <div class="container">
        <div class="hover_img">
            <a>
                <img src="/content/public/images/Vidyanjali_Location.webp" class="img-fluid location" alt="map">
                <span>
                    <img src="/content/public/images/Vidyanjali_Map.webp" class="img-fluid" alt="map">
                </span>
            </a>
        </div>
    </div>
</div>

<div class="outer-container">
    <img src="/content/public/images/Vidyanjali_Footer-final.webp" class="img-fluid" alt="footer" id="footer">
    <div class="footer-data">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="address">
                        <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                            Vidyanjali Academy for Learning<br>
                            Opp SBI Bank, Cholanayakanahalli,<br>
                            R. T. Nagar, Bangalore – 560 032.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="address">
                        <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1300">
                            Phone: 080 23544891<br>
                            9008202222, 7019367324<br>
                            Email: info@vidyanjali.in
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="links" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <p><a href="#">Site Map </a> <span>|</span> <a href="#">Disclaimer</a> <span>|</span> <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="media" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <p>
                            <a href="https://www.facebook.com/Vidyanjali-Academy-For-Learning-608815299208169/"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/7836395/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://instagram.com/vidyanjali.academy?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCCMDXFnMAmSnkOAonOBUPsw"><i class="fab fa-youtube"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="rights">
                        <p>© @DateTime.Now.Year Sri Ramaiah Reddy Educational Trust. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a id="back-to-top" href="#" class="back-to-top" role="button">
                        <p>BACK TO TOP</p>
                        <img src="/content/public/images/arrow.webp" id="return-to-top" class="img-fluid" alt="Arrow_Footer">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="design">
                        <p>Design: <a href="lumos.in"> LUMOS.in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>