@using Vidyanjali.Comman;
@using Vidyanjali.Areas.Admin.Helpers
@using Vidyanjali.Areas.Admin.Models
@using Vidyanjali.Areas.Admin.Models.Stakeholder
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" media="screen">
    <link rel="stylesheet" href="https://vadikom.github.io/smartmenus/src/css/sm-core-css.css">
    <link rel="stylesheet" type="text/css" href="/content/public/css/animate.css">
    <link rel="stylesheet" href="/content/public/css/sm-core-css.css">
    <link rel="stylesheet" href="/content/public/css/custom.css">
    <title>@ViewBag.title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="logo">
            <a href="index.html"><img src="/content/public/images/Vidyanjali_Logo.webp" class="img-fluid" alt="logo"></a>
        </div>
        <div class="logo-2">
            <img src="/content/public/images/30_Years_Logo.webp" class="img-fluid" alt="logo">
        </div>
    </div>
    @{Html.RenderPartial("_IndexHeader");}

    @RenderBody()

    @{Html.RenderPartial("_Footer");}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/content/public/js/custom.js"></script>
    <script src="/content/public/js/expanding.js"></script>
</body>
</html>


