@model Vidyanjali.Areas.EMS.Models.Enquiry
@{
    Layout = "~/Views/Shared/_GeneralPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
</head>
<body>
    <div class="outer-container bred-bckgnd">
      <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="bredcrumb">
            <p><a href="index.html">Home / </a><a href="#"> Thank You </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="outer-container">
    <div class="outer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="left-content">
                <div class="tabs-image doctors">
                    </div>
                <div class="description">
                     Thank You..!! We will Contact you soon..!!
                </div>
                </div>
                </div>
                
              
      </div>
    </div>
  </div>
    </div>
       
</body>
</html>
